@import "src/components/mixins.scss";

.item-form-group-list-list {
  @include has-border(primary);

  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
}

.item-form-group-list-row-container {
  display: flex;
  flex-direction: row;

  .item-form-group-list-row {
    @include has-border(secondary);
    flex: 1 1 auto;
    padding: 0.5em;
    min-width: 0;
  }
}

.item-form-group-list-actions-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0.25em;

  .item-form-group-list-action {
    cursor: pointer;
    user-select: none;
    font-size: 1.5em;
    padding: 0.25em;
    line-height: 0.75em;
  }

  .item-form-group-list-move-up,
  .item-form-group-list-move-down {
    color: var(--button-color);
    visibility: hidden;

    .item-form-reorderable & {
      visibility: visible;
    }

    &:hover {
      color: var(--button-hover-color);
    }
  }

  :first-of-type > & > .item-form-group-list-move-up {
    visibility: hidden;
  }

  :last-of-type > & > .item-form-group-list-move-down {
    visibility: hidden;
  }

  .item-form-group-list-delete {
    color: var(--delete-color);

    &:hover {
      color: var(--delete-hover-color);
    }

    .item-form-group-list-min-reached & {
      visibility: hidden;
    }
  }
}

.item-form-group-list-new-button {
  .item-form-group-list-max-reached & {
    display: none;
  }

  .item-form-group-list-add-icon {
    padding-right: 1em;
  }

  .item-form-group-list-max-reached & {
    display: none;
  }
}
