@use "./itemForm/listField.scss";
@use "./itemForm/editableValue.scss";
@use "./itemForm/selectField.scss";
@use "./itemForm/groupedListField.scss";
@use "./itemForm/fileField.scss";
@use "./itemForm/csvFieldSelectorField.scss";
@use "./itemForm/multilineField.scss";
@use "src/components/helpText.scss";

.item-form-option-error {
  color: var(--error-color);
  user-select: none;
  display: block;
  font-size: 0.8em;
}

.item-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.25em 1em;
  box-sizing: border-box;

  .item-option-value-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    min-width: 0;
  }
}

.item-option-label-container {
  flex: 0 0 30%;
  color: var(--text-color);
  user-select: none;
  display: block;

  .item-option-help {
    cursor: question;
    padding: 0.25em;
  }
}

.item-option-value {
  color: var(--text-color);
  display: flex;
  align-items: center;
  margin: 0.5em;

  .item-option-value-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.editable {
    cursor: pointer;
  }

  &.editable::after {
    content: "\f044";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.8em;
    margin-left: 0.5em;
  }
}
