.new-item-option-error {
  color: var(--error-color);
  user-select: none;
  display: block;
  font-size: 0.8em;
}

.new-item-item-options {
  width: 100%;
  padding-top: 1em;
}

.new-item-list-option-list {
  display: flex;
  flex: 1 1 auto;
  border: 1px solid var(--primary-border-color);
  border-radius: 0.5em;
  padding: 0.5em;
  gap: 0.5em;
  box-shadow: 0 0 0.25em var(--shadow-color);
  flex-wrap: wrap;
}

.new-item-list-drop-target {
  flex: 1 1 auto;
}

.new-item-list-new-button {
  background: var(--button-color);
  color: var(--text-color);
  border: 1px solid var(--primary-border-color);
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
  border-radius: 0.5em;

  &:hover {
    background: var(--button-hover-color);
  }

  .new-item-list-max-reached & {
    display: none;
  }
}

.new-item-list-value {
  color: var(--text-color);
  background: var(--button-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 0.5em;
  padding: 0.5em;
  user-select: none;
  position: relative;

  .new-item-list-remove-button {
    color: var(--error-color);
    margin-left: 0.5em;
    cursor: pointer;
  }

  .new-item-list-min-reached & .new-item-list-remove-button {
    display: none;
  }

  &[data-dragover="true"]::before {
    position: absolute;
    content: "\f0d8";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.8em;
    margin-right: 0.5em;
    left: -0.5em;
    bottom: -0.5em;
  }

  [data-dragover="true"] &:last-of-type::before {
    position: absolute;
    content: "\f0d8";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.8em;
    margin-right: 0.5em;
    right: -1em;
    bottom: -0.5em;
  }

  .new-item-reorderable & {
    cursor: move;
  }
}

.new-item-actions {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  width: 100%;
  padding: 0.5em 1em;
  box-sizing: border-box;
  gap: 2em;

  .new-item-action-button {
    background: var(--button-color);
    color: var(--text-color);
    border: 1px solid var(--primary-border-color);
    padding: 0.5em;
    cursor: pointer;
    user-select: none;
    border-radius: 0.5em;
    border: 3px solid var(--button-color);

    font-size: 1em;

    &:hover {
      background: var(--button-hover-color);
    }
  }

  .new-item-cancel {
    background: transparent;
    border: 3px solid var(buton-color);
  }
}

.new-item-multiline-input {
  flex: 1 1 auto;
  resize: vertical;
}
