@import "./mixins.scss";

.button {
  @include has-border(input);

  background: var(--button-color);
  color: var(--text-color);
  padding: 0.5em 1em;
  cursor: pointer;
  user-select: none;

  &:hover,
  &.active {
    background: var(--button-hover-color);
  }

  &:disabled {
    background: var(--button-disabled-color);
    color: var(--button-disabled-text-color);
    cursor: not-allowed;
  }
}

.button-danger {
  background: var(--container-color);
  color: var(--text-color);
  border-color: var(--delete-color);

  &:hover,
  &.active {
    background: var(--delete-color);
  }
}

.button-secondary {
  background: var(--container-color);
  border-width: 2px;

  &:hover,
  &.active {
    background: var(--button-hover-color);
  }
}
