@mixin color-theme {
  --container-color: #fff;
  --container-darker-color: #f0f0f0;
  --button-color: #ccc;
  --button-hover-color: #aaa;
  --container-border-color: #ccc;
  --primary-border-color: #666;
  --secondary-title-color: #555;
  --secondary-border-color: #ddd;
  --text-color: #000;
  --shadow-color: #0003;
  --dark-mode-picker-color: #000;
  --dark-mode-picker-hover-color: #555;
  --deck-hover-color: #eee;
  --error-color: #f00;
  --edit-color: #ddd;
  --edit-hover-color: #000;
  --delete-color: #ff8a8a;
  --delete-hover-color: #ff4747;
  --help-background-color: #ddd;
  --loader-color: #444;
  --link-color: #0000ee;

  --wanikani-lesson-color: #aaa;
  --wanikani-apprentice-color: #dd0093;
  --wanikani-guru-color: #882d9e;
  --wanikani-master-color: #294ddb;
  --wanikani-enlightened-color: #0093dd;
  --wanikani-burned-color: #434343;

  &.dark {
    --container-color: #333;
    --container-darker-color: #2a2a2a;
    --button-color: #222;
    --button-hover-color: #323;
    --container-border-color: #222;
    --primary-border-color: #222;
    --secondary-title-color: #aaa;
    --secondary-border-color: #000;
    --text-color: #fff;
    --shadow-color: #0003;
    --dark-mode-picker-color: #fff;
    --dark-mode-picker-hover-color: #aaa;
    --deck-hover-color: #323;
    --error-color: #f55;
    --edit-color: #fff;
    --edit-hover-color: #b15eff;
    --delete-color: #f55;
    --delete-hover-color: #e53131;
    --help-background-color: #222;
    --loader-color: #aaa;
    --link-color: #00aaff;
  }
}
