@use "src/components/commonComponents.scss";

@import "./colors.scss";
@import "src/components/mixins.scss";

:root {
  font-size: 16px;
}

html {
  background: var(--container-color);
  border-radius: 5px;

  @include color-theme;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 20rem;
  margin: 2rem 0;
}

h1 {
  margin: 1rem 0;
  padding: 0;
  text-align: center;
  color: var(--text-color);
  cursor: default;
}

.action-container {
  @include has-border(secondary);

  width: 90%;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  position: relative;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;

  &:last-of-type {
    margin-bottom: 0;
  }

  .action-container-title {
    color: var(--secondary-title-color);
    position: absolute;
    text-transform: uppercase;
    top: -0.75rem;
    background: var(--container-color);
    padding: 0 0.5rem;
    font-size: 1rem;
    cursor: default;
  }
}

button {
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
}

.header {
  position: relative;
}

.dark-mode-switcher {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.5rem;
  color: var(--dark-mode-picker-color);

  &:hover {
    color: var(--dark-mode-picker-hover-color);
  }

  &::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 1.25rem;
    content: "\f185";
  }

  .dark &::before {
    content: "\f186";
  }
}
